body{
	background: #fff;
}
.login-container {
  padding: 15px;
}
.login-container .input {
  position: relative;
}
.login-container .input .icon-close {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../images/close.png) no-repeat;
  background-size: 100% 100%;
  right: 15px;
  top: 12.5px;
}
.login-container input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  font-size: 14px;
  text-indent: 40px;
}
.login-container input.username {
  background: url(../images/icon-user.png) no-repeat;
  background-size: 10.5px 15px;
  background-position: 25px 11px;
}
.login-container input.password {
  background: url(../images/icon-pass.png) no-repeat;
  background-size: 10px 15px;
  background-position: 25px 11px;
}
.login-container input::-webkit-input-placeholder {
  font-family: "微软雅黑";
}
.login-container .login-btn {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
  border-radius: 40px;
  -webkit-box-shadow: 0 1px 5px rgba(6, 0, 1, 0.2);
  box-shadow: 0 1px 5px rgba(6, 0, 1, 0.2);
  background-image: -webkit-linear-gradient(left, #d32e12, #f83f20);
  background-image: -ms-linear-gradient(left, #d32e12, #f83f20);
  background-image: linear-gradient(to right, #d32e12, #f83f20);
}
